"{{ .chezmoi.homeDir }}/.local/share/zellij/plugins/zjstatus.wasm" {
    ChangeApplicationState
    ReadApplicationState
    RunCommands
}
"file:{{ .chezmoi.homeDir }}/.local/share/zellij/plugins/zjstatus.wasm" {
    ChangeApplicationState
    FullHdAccess
    InterceptInput
    MessageAndLaunchOtherPlugins
    OpenFiles
    OpenTerminalsOrPlugins
    ReadApplicationState
    ReadCliPipes
    ReadPaneContents
    ReadSessionEnvironmentVariables
    Reconfigure
    RunActionsAsUser
    RunCommands
    StartWebServer
    WebAccess
    WriteToClipboard
    WriteToStdin
}
"zjstatus" {
    ChangeApplicationState
    FullHdAccess
    InterceptInput
    MessageAndLaunchOtherPlugins
    OpenFiles
    OpenTerminalsOrPlugins
    ReadApplicationState
    ReadCliPipes
    ReadPaneContents
    ReadSessionEnvironmentVariables
    Reconfigure
    RunActionsAsUser
    RunCommands
    StartWebServer
    WebAccess
    WriteToClipboard
    WriteToStdin
}
