{{ if lookPath "code" -}}
#!/usr/bin/env bash
#
# Author: FlameFlag
#

set -euo pipefail

installed=$(code --list-extensions 2>/dev/null | sort -fu)

while read -r extension; do
    [[ -z "$extension" ]] && continue
    if ! grep -qixF "$extension" <<<"$installed"; then
        code --install-extension "$extension" --force
    fi
done < {{ joinPath .chezmoi.sourceDir "dot_config/Code/User/vscode-extensions.txt" | quote }}
{{ end -}}
