Host github github.com
  Hostname ssh.github.com
  Port 443
  User git
  IdentityFile {{ .chezmoi.homeDir }}/.ssh/github_key
  IdentitiesOnly yes
  ForwardAgent no

Host codeberg.org
  Hostname codeberg.org
  Port 22
  User git
  IdentityFile {{ .chezmoi.homeDir }}/.ssh/github_key
  IdentitiesOnly yes
  ForwardAgent no

Host lenovo-legion lenovo-legion-windows lenovo-legion-windows-raw
  ForwardAgent yes

Host lenovo-legion
  HostName lenovo-legion
  User nyx

Host lenovo-legion-windows
  HostName lenovo-legion-windows
  User admin
  RequestTTY no
  RemoteCommand powershell.exe -NoLogo -NoProfile -NoExit

Host lenovo-legion-windows-raw
  HostName lenovo-legion-windows
  User admin

{{ if eq .chezmoi.os "darwin" -}}
Match host * exec "test -z $SSH_TTY"
  IdentityAgent "{{ .chezmoi.homeDir }}/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{ else -}}
Match host * exec "test -z $SSH_TTY"
  IdentityAgent "{{ .chezmoi.homeDir }}/.1password/agent.sock"
{{ end }}
Host *
  AddKeysToAgent no
  ForwardAgent no
  HashKnownHosts yes
  KexAlgorithms mlkem768x25519-sha256,sntrup761x25519-sha512,sntrup761x25519-sha512@openssh.com,curve25519-sha256,curve25519-sha256@libssh.org,ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group-exchange-sha256,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512,diffie-hellman-group14-sha256
