# ignore macOS and Linux files
.DS_Store
Thumbs.db
*.DS_Store
*.swp

.devenv/
.direnv/
.codex
result
result-*
/.pre-commit-config.yaml
.pre-commit-config.yaml
node_modules/

# IDEs
**/.idea/
**/.vs/
**/.vscode/
