layout {
    default_tab_template {
        pane
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                format_left   "{mode} #[fg=magenta,bold]flame"
                format_center "{tabs}"
                format_right  "{datetime}"
                format_space  ""

                border_enabled  "true"
                border_char     "─"
                border_format   "#[fg=bg]{char}"
                border_position "top"

                hide_frame_for_single_pane "false"

                mode_normal   "#[bg=blue,fg=white] NORMAL "
                mode_locked   "#[bg=yellow,fg=white] LOCKED "
                mode_tab      "#[bg=green,fg=white] TAB "
                mode_pane     "#[bg=cyan,fg=white] PANE "
                mode_resize   "#[bg=magenta,fg=white] RESIZE "
                mode_session  "#[bg=red,fg=white] SESSION "
                mode_scroll       "#[bg=green,fg=white] SCROLL "
                mode_search       "#[bg=blue,fg=white] SEARCH "
                mode_move         "#[bg=orange,fg=white] MOVE "
                mode_rename_tab   "#[bg=green,fg=white] RENAME TAB "
                mode_rename_pane  "#[bg=cyan,fg=white] RENAME PANE "
                mode_enter_search "#[bg=blue,fg=white] SEARCH "

                tab_normal    "#[bg=bg,fg=fg] {name} "
                tab_active    "#[bg=bg,fg=fg,bold] {name} "

                datetime      "#[fg=bg,bold] {format} "
                datetime_format "%Y-%m-%d %H:%M:%S"
                datetime_timezone "Europe/Sofia"
            }
        }
    }
}
