{{- if ne .chezmoi.os "windows" -}}
{{- $nushellConfigPaths := list ".config/nushell" -}}
{{- $yaziConfigPath := "" -}}
{{- $fontsPath := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $nushellConfigPaths = list ".config/nushell" "Library/Application Support/nushell" -}}
{{-   $yaziConfigPath = ".config/yazi" -}}
{{-   $fontsPath = "Library/Fonts" -}}
{{- else -}}
{{-   $yaziConfigPath = ".config/yazi" -}}
{{-   $fontsPath = ".local/share/fonts" -}}
{{- end -}}

# ----- Nushell -----

{{- $nushellTools := list "bat" "cargo" "claude" "curl" "gh" "git" "jj" "man" "nix" "op" "rg" "ssh" "uv" "vscode" "zellij" "zoxide" -}}
{{- range $configPath := $nushellConfigPaths }}
{{- range $tool := $nushellTools }}
["{{ $configPath }}/completions/{{ $tool }}.nu"]
type = "file"
url = "https://raw.githubusercontent.com/nushell/nu_scripts/main/custom-completions/{{ $tool }}/{{ $tool }}-completions.nu"
refreshPeriod = "168h"
{{ end }}
{{ end }}

# ----- Oh-My-Zsh -----

[".oh-my-zsh"]
type = "git-repo"
url = "https://github.com/ohmyzsh/ohmyzsh.git"
refreshPeriod = "168h"
[".oh-my-zsh".pull]
args = ["--ff-only"]

[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
type = "git-repo"
url = "https://github.com/zsh-users/zsh-autosuggestions.git"
refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
type = "git-repo"
url = "https://github.com/zsh-users/zsh-syntax-highlighting.git"
refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/fzf-tab"]
type = "git-repo"
url = "https://github.com/Aloxaf/fzf-tab.git"
refreshPeriod = "168h"

# ----- Oh-My-Bash -----

[".oh-my-bash"]
type = "git-repo"
url = "https://github.com/ohmybash/oh-my-bash.git"
refreshPeriod = "168h"
[".oh-my-bash".pull]
args = ["--ff-only"]

# ----- fzf-tab-completion (bash) -----

[".fzf-tab-completion"]
type = "git-repo"
url = "https://github.com/lincheney/fzf-tab-completion.git"
refreshPeriod = "168h"

# ----- Paid Fonts (private repo, auth via gh) -----

{{- if lookPath "gh" }}
["{{ $fontsPath }}/paid-fonts"]
type = "git-repo"
url = "https://github.com/FlameFlag/paid-fonts.git"
refreshPeriod = "168h"
[{{ printf "%s/paid-fonts" $fontsPath | printf "%q" }}.pull]
args = ["--ff-only"]
{{- end }}

# ----- Yazi -----

{{- $yaziFlavors := list "frappe" "latte" -}}
{{- range $flavor := $yaziFlavors }}
["{{ $yaziConfigPath }}/flavors/catppuccin-{{ $flavor }}-pink.yazi/flavor.toml"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/yazi/main/themes/{{ $flavor }}/catppuccin-{{ $flavor }}-pink.toml"
refreshPeriod = "168h"
{{ end }}

# ----- Zellij -----

[".local/share/zellij/plugins/zjstatus.wasm"]
type = "file"
url = "https://github.com/dj95/zjstatus/releases/download/v0.23.0/zjstatus.wasm"
refreshPeriod = "168h"

{{- end -}}
