theme = light:catppuccin-latte-pink.conf,dark:catppuccin-frappe-pink.conf
adjust-underline-position = 4
clipboard-paste-protection = false
command = {{ .chezmoi.homeDir }}/.config/ghostty/zellij-theme-run
confirm-close-surface = false
cursor-style = bar
cursor-style-blink = false
font-family = TX02 Nerd Font
font-size = 18
mouse-scroll-multiplier = 3
quit-after-last-window-closed = true
scrollback-limit = 100000000
window-padding-x = 8
window-padding-y = 4
window-padding-balance = true
shell-integration-features = no-cursor
mouse-hide-while-typing = true

{{- if eq .chezmoi.os "darwin" }}
macos-option-as-alt = true
font-thicken = true
{{- end }}

# Keybindings
keybind = clear
{{- if eq .chezmoi.os "darwin" }}
keybind = super+left=text:\x01
keybind = super+right=text:\x05
keybind = super+alt+left=text:\x1b[1;11D
keybind = super+alt+right=text:\x1b[1;11C
keybind = super+0=reset_font_size
keybind = super+equal=increase_font_size:1
keybind = super+shift+equal=increase_font_size:1
keybind = super+minus=decrease_font_size:1
keybind = super+shift+minus=decrease_font_size:1
keybind = super+shift+c=text:\x1bC
keybind = super+shift+v=paste_from_clipboard
keybind = super+a=select_all
keybind = super+,=reload_config
{{- end }}
keybind = ctrl+left=text:\x01
keybind = ctrl+right=text:\x05
keybind = ctrl+alt+left=text:\x1b[1;7D
keybind = ctrl+alt+right=text:\x1b[1;7C
keybind = alt+left=text:\x1b\x62
keybind = alt+right=text:\x1b\x66
keybind = ctrl+0=reset_font_size
keybind = ctrl+equal=increase_font_size:1
keybind = ctrl+shift+equal=increase_font_size:1
keybind = ctrl+minus=decrease_font_size:1
keybind = ctrl+shift+minus=decrease_font_size:1
keybind = ctrl+shift+c=text:\x1bC
keybind = ctrl+shift+v=paste_from_clipboard
keybind = ctrl+a=select_all
keybind = ctrl+,=reload_config
