$env.TRANSIENT_PROMPT_COMMAND = ^starship module character
$env.TRANSIENT_PROMPT_INDICATOR = ""
$env.TRANSIENT_PROMPT_INDICATOR_VI_INSERT = ""
$env.TRANSIENT_PROMPT_INDICATOR_VI_NORMAL = ""
$env.TRANSIENT_PROMPT_MULTILINE_INDICATOR = ""
$env.TRANSIENT_PROMPT_COMMAND_RIGHT = ^starship module time

hide-env --ignore-errors NO_COLOR
$env.COLORTERM = "truecolor"
$env.LESS = "-R"

source {{ .chezmoi.homeDir }}/.cache/starship/init.nu
source {{ .chezmoi.homeDir }}/.cache/zoxide/init.nu

$env.ATUIN_NOBIND = true
$env.ATUIN_SESSION = (atuin uuid | str replace -a "-" "")

{{- if eq .chezmoi.os "darwin" }}
$env.SSH_AUTH_SOCK = $"($env.HOME)/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- else }}
$env.SSH_AUTH_SOCK = $"($env.HOME)/.1password/agent.sock"
{{- end }}

# Shadow system python
$env.UV_PYTHON_PREFERENCE = "only-managed"
